#what .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media(max-width: 900px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #showcase .showcase-content {
    top: 110px;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }
  .service h1 {
    font-size: 1rem;
    text-align: center;
  }
  .service img {
    width: 70%;
    height: 70%;
  }
  .newvalue {
    flex-direction: column;
  }
  .newvalue .newvalue-img {
    width: 100%;
  }
  .newvalue .newvalue-text {
    width: 100%;
  }

  #team-content-filter p {
    width: 100%;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
  }
  #contact-info-container {
    width: 95%;
  }
  #contact .contact-form {
    width: 95%;
  }
}

@media(max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 140px;
  }

  .l-heading {
    font-size: 3rem;
  }

  .lead {
    font-size: 1rem;
  }

}
