#what .items {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media(max-width: 900px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #showcase {
    background: #333 url(../img/showcase2.jpg) no-repeat fixed center;
    background-size: 100% 66%;
    height: 50vh;
  }
  #showcase .showcase-content {
    top: 60px;
  }
  #showcase .showcase-content .l-heading {
    font-size: 3rem;
  }
  #showcase .showcase-content .lead {
    font-size: 1rem;
  }

  #who {
    display: block;
  }

  #who .who-img {
    display: none;
  }
  .services-container {
    margin: 0;
  }
  .service {
    width: 33%;
  }
  .service h1 {
    font-size: 1rem;
    text-align: center;
  }
  
  .service img {
    width: 70%;
    height: 70%;
  }
  .newvalue {
    flex-direction: column;
  } 
  .newvalue:nth-child(2), .newvalue:nth-child(4), .newvalue:nth-child(6)  {
    flex-direction: column-reverse;
  } 
  .newvalue .newvalue-img {
    width: 100%;
  }
  .newvalue .newvalue-text {
    width: 100%;
  }

  #team-content-filter p {
    width: 100%;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }

  #contact .map {
    height: 200px;
  }
  #contact-info-container {
    width: 95%;
  }
  #contact .contact-form {
    width: 95%;
  }
}

@media(max-height: 568px) {
  #showcase .showcase-content {
    margin-top: -2rem;
    top: 140px;
  }

  

  .lead {
    font-size: 1rem;
  }

}
